@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-base sm:text-lg break-words
		text-zinc-600 dark:text-zinc-400
		bg-zinc-100 dark:bg-zinc-900;
	font-family: 'Zilla Slab', serif;
}

.katex {
	font-size: 1.1em;
}

h1 {
	@apply text-5xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold mt-6 text-left text-zinc-800 dark:text-zinc-200;
}

p {
	@apply mb-4;
}

a {
	@apply relative underline decoration-zinc-600 dark:decoration-zinc-400 underline-offset-[3px];
}

button {
	@apply rounded-md px-2 m-1
		text-zinc-700 dark:text-zinc-300
		border border-zinc-800 dark:border-zinc-200
		hover:bg-zinc-300 hover:dark:bg-zinc-700
		hover:text-zinc-700 hover:dark:text-zinc-300
		focus:scale-105 transition-all;
}

figure {
	@apply my-2;
}

figcaption {
	@apply text-sm italic text-center px-12 max-w-2xl mx-auto my-2;
}

.graph-link {
	@apply stroke-2 stroke-zinc-600 dark:stroke-zinc-400;
}

.graph-node {
	@apply cursor-pointer fill-zinc-100 dark:fill-zinc-900 stroke-2 stroke-zinc-600 dark:stroke-zinc-400;
}

figure {
	@apply my-4;
}

figcaption {
	@apply text-sm italic text-center px-12;
}

.graph-node.graph-node-fixed {
	@apply fill-orange-200 dark:fill-yellow-800;
}
