@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-base sm:text-lg break-words
		text-zinc-600 dark:text-zinc-400
		bg-zinc-100 dark:bg-zinc-900;
	font-family: 'Zilla Slab', serif;
}

.katex {
	font-size: 1.1em;
	font-display: swap;
}

h1 {
	@apply text-3xl sm:text-4xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold mt-6 text-left text-zinc-800 dark:text-zinc-200;
}

p {
	@apply mb-4;
}

a {
	@apply cursor-pointer relative underline underline-offset-[3px]
	decoration-zinc-600 dark:decoration-zinc-400;
}

button {
	@apply tag m-1 transition-all;
}

button:not(:disabled) {
	@apply hover:bg-zinc-300 hover:dark:bg-zinc-700;
}

button.focus {
	@apply shadow-md dark:shadow-none bg-zinc-200 dark:bg-zinc-700;
}

button:disabled {
	@apply border-dashed border-zinc-500 bg-zinc-200 dark:bg-zinc-800 text-opacity-50;
}

li {
	@apply ml-5 my-2;
}

li > p {
	@apply inline;
}

ul,
ol {
	@apply my-4;
}

ul > li {
	@apply list-disc;
}

ol > li {
	@apply list-decimal;
}

.tag {
	@apply rounded-md px-2 text-sm list-none
	text-zinc-800 dark:text-zinc-200
	border border-zinc-800 dark:border-zinc-200;
}

input {
	@apply tag bg-transparent transition-colors
	focus:border-2 focus:dark:bg-zinc-700;
}

table {
	@apply divide-y divide-zinc-800 dark:divide-zinc-200
	overflow-hidden border-separate border-spacing-0
	shadow dark:shadow-none rounded-md
	border border-zinc-600 dark:border-zinc-400;
}

th {
	@apply text-zinc-700 dark:text-zinc-300
	bg-zinc-200 dark:bg-zinc-800;
}

td, th {
	@apply px-2 py-1;
}

tr {
	@apply hover:bg-zinc-200 dark:hover:bg-zinc-800 transition-colors
}